@font-face {
    font-family: Roboto;
    src: url("fonts/Roboto/Roboto-Regular.ttf") format('truetype');
    src: url("fonts/Roboto/Roboto-Bold.ttf") format('truetype');
    src: url("fonts/Roboto/Roboto-Light.ttf") format('truetype');
}

:root {
    --first-color: #e4f1fe; 
    --second-color: #8dc6ff; 
    --third-color: #22313f; 
    --fourth-color: #34495e; 
    --main-font: 'Roboto';
    --default-border-radius: 10px;
    --default-container-gap: 20px;
    --default-padding:16px;
    --default-animation: all 0.3s ease;
}
.wrap{position: relative;}

* {box-sizing:border-box}
body{font-family: var(--main-font);margin: 0;padding: 8px;}

.popup {display:none}
.popup.active{display:flex;position:relative;background-color:#fff;padding:32px;border-radius:var(--default-border-radius);border:2px solid var(--fourth-color);z-index: 10;flex-direction: column;}
.popup-wrap{position: relative;}
.popup h2 {font-size:20px}
.popup .close-btn{height:20px;align-self: end;cursor: pointer;}
.popup input {width: 100%;border-radius: var(--default-border-radius);outline: none;border: 2px solid var(--third-color);padding: 8px 16px;}
.popup .buttons{display:flex;flex-direction:row;flex-wrap:wrap;gap:var(--default-container-gap);justify-content: space-between;margin-top:var(--default-container-gap);}
.popup-overlay{display: none;}
.popup-overlay.active{cursor:pointer;display:block;position: absolute;top: 0;left: 0;right: 0;width: 100%;height: 100%;background-color: var(--fourth-color);opacity: 0.4;z-index: 1;}

.message{display:none;}
.message.active {display:block;padding: var(--default-padding);background-color: #ff00001f;border: 2px solid red;border-radius: var(--default-border-radius);color: red;}

.btn {background-color: var(--second-color);padding: 10px 20px;cursor:pointer;transition: var(--default-animation);}
.btn:hover{background-color:var(--fourth-color);color:#fff;transition: var(--default-animation);}
.close-popup, .close-lijst {cursor:pointer;  height: 30px; position:absolute;top:16px;right:16px}

.clearall-btn.btn {color:#fff;position:relative;background-color: #f44336;}
.clearall-btn.btn:hover {background-color: #f44336;}
.clearall-btn.btn span{color:#fff;position:relative}
.clearall-btn.btn .loader{content: ' ';display: block;position: absolute;top: 0;left: 0;right: 0;bottom: 0;background: #b71c1c;transform: scale(0,1);transform-origin:left;}
.clearall-btn.btn:active .loader{transform: scale(1);transition: all 2s cubic-bezier(.55, 0, .1, 1);}
.clearall-btn.btn:active span{color:fff}

.schema-lijst-container{display:none;}
.schema-lijst-container.active{display:flex;flex-direction:column;position:absolute;background-color:#fff;padding:40px 16px 16px 16px;border-radius:var(--default-border-radius);border:2px solid var(--third-color);z-index:11;gap: var(--default-container-gap);max-height: 350px;width: 320px;top: 80px;overflow: hidden;}
.schema-lijst-container h2{margin-top:0}
.schema-lijst{overflow-y:scroll;display:flex;flex-direction:column;gap:var(--default-container-gap)}
.schema-lijst .schema-item {background-color:var(--first-color);padding:var(--default-padding);border-radius: var(--default-border-radius);}
.schema-lijst .schema-item h2{word-break: break-word;margin-top: 0;}
.schema-lijst .schema-item p{margin: 0.6em 0;opacity: 0.7;}

.grid-item{background-color:var(--first-color);padding: var(--default-padding);border-radius:var(--default-border-radius)}
.grid-item, .arrow-desktop, .arrow-mobile{display:flex;flex-direction:column;justify-content:center;align-items:center;width:100%;height:100%;}

textarea {width: 100%;height:100%;border-radius:var(--default-padding);padding:var(--default-padding);resize:vertical;border:none;}
textarea:focus-visible{outline: 2px solid var(--third-color);border: none;}
textarea.error {border: 2px solid red}
textarea.error:focus-visible{outline: 2px solid red;border: none;}


/* https://codepen.io/YousifW/pen/LKBxZX */
.items {}
.items .item {position: absolute;top: 0;left: 0;min-width: 360px;height: 450px;overflow: hidden;transition: all 300ms ease-in-out;z-index: -1;opacity: 0;} 
.item.active {opacity: 1;z-index: 3;}
.item.prev {z-index: 2;opacity: 0;transform: translate(-125%, 0%);} 
.item.next {z-index: 2;opacity:0;/*! transform: translate(25%, 0%); */}
.items .button-container {position: absolute;top: 0;left: 0;/*! transform: translate(-50%, 0); */min-width:360px;z-index: 4;}
.button-container .button {height:50px;color: #fff;cursor: pointer;position: relative;transition: all 300ms ease-in-out;background-color:#fff;border-radius:50%;} 
.button-container .button img {height:50px}
.button-container .button:nth-child(1) {float: left;} 
.button-container .button:nth-child(2) {float: right;}

/* 
TODO: 
- Betere indeleding html voor berichten popup etc.
- container buttons vallen over popup heen omdat pupup in grid-item zit?
- scrollbar doordat grid-item translate naar rechts. overflow hidden helpt niet, fix voor vinden.
- betere manier message popup ? een popup voor alle feedback of meerdere per container?
- opslaan tiussen de buttons en 5e grid-item weghalen?

*/
